<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Chat</title>
</head>
<body>
    <h1>Enter New Chat Details:</h1>
    
    <form action="/chats" method="post">
        <input name="from" type="text" placeholder="from"> <br>
        <input name="to" type="text" placeholder="to"> <br>
        <textarea name="msg" id="msg" cols="30" rows="10" placeholder="Enter message here.."></textarea> <br>
        <button>Save</button>
    </form>
</body>
</html>